.emailsContainer {
  text-align: center;
}

.emailsTitle {
  color: var(--light-color);
  font-size: var(--subTitle-size);
  margin-bottom: 10px;
}

.emailsIntro {
  width: 90%;
  margin: 0px auto 2rem;
  color: var(--white-color);
  font-size: 1rem;
  line-height: 1.6;
  animation: cardIn ease-in-out 1s;
}

.emailsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  animation: cardIn ease-in-out 1s;
}

.emailCard {
  background: var(--white-color);
  border: 1px solid var(--light-color);
  padding: 6px 6px 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  animation: cardIn ease-in-out 1s;
}

.emailCard:hover {
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.25);
}

.emailIimageWrapper {
  overflow: hidden;
}

.emailImg {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.4s ease;
}

.emailCard:hover .emailImg {
  transform: scale(1.05);
}

.emailTitle {
  margin: 12px 0 8px;
  color: var(--dark-color);
  font-size: 1.2rem;
  text-align: center;
}
.emailLink {
  position: relative;
  padding: 1px;
  width: max-content;
  margin: auto;
}
.emailLink::before {
  content: "";
  background-color: var(--lblue-color);
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s;
}
.emailCard:hover .emailLink::before {
  width: 100%;
}
.emailCard:hover .emailLink > a{
  color: white;
}
.emailLink > a {
  position: relative;
  display: block;
  color: var(--lblue-color);
  transition: color 0.5s ease;
  padding: 10px 12px;
  font-weight: 700;
  font-size: 0.9rem;
  z-index: 2;
  background-color: transparent;
}
@keyframes cardIn {
  from {
    opacity: 0;
    transform: translateY(15px) ;
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}