.otherWork {
  padding-top: 6.25rem;
}

.otherWork h2 {
  color: var(--light-color);
  margin-bottom: 2.5rem;
  text-transform: capitalize;
  font-size: var(--title-size);
  font-weight: 500;
}
.otherWork .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 2rem;
}


.grid .box h3 {
  color: var(--lblue-color);
  font-size: 1.5rem;
}
.grid  .box {
  position: relative;
  border-radius: var(--my-radius);
  padding: 3px;
  z-index: 2;
}
.grid .box::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
background: #2A7B9B;
background: linear-gradient(45deg,var(--lblue-color) 0%, var(--light-color) 50%, var(--gray-color) 100%);
 border-radius: var(--my-radius);
}
.grid .box .wrapper {
position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
   padding: 1.5rem;
  background-color: #222222e3;
  border-radius: var(--my-radius);
  width: 100%;
  height: 100%;
}
.grid .box .tech img {
  width: 45px;
  height: 45px;
  vertical-align: top;
}
.otherWork p {
  color: var(--white-color);
  line-height: 1.5;
}
.banners .tech {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.banners .tech img {
  width: 150px;
  vertical-align: top;
}
.grid a {
  margin-left: auto;
}
@media (max-width: 992px) {
  .otherWork {
    padding-top: 5rem;
  }
}
@media (max-width: 768px) {
  .otherWork {
    padding-top: 4rem;
  }
  .otherWork .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
  }
  .otherWork .emailer {
    flex-direction: column;
  }
  .banners .tech {
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
  }
  .grid .emailer .content,
  .grid .banners {
    align-items: flex-start;
    /* text-align: center; */
  }
  .grid a {
    /* margin-left: initial; */
  }
  .grid .emailer .image {
    max-width: 400px;
    margin: 0 auto;
  }
  .grid .emailer .content h3,
  .grid .banners h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .grid .emailer .image {
    max-width: 100%;
  }
}
