.otherWork {
  padding-top: 6.25rem;
}

.otherWork h2 {
  color: var(--light-color);
  margin-bottom: 2.5rem;
  text-transform: capitalize;
  font-size: var(--title-size);
  font-weight: 500;
}
.otherWork .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 2rem;
}
.otherWork .emailer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.grid .emailer .image {
  max-width: 250px;
}
.grid .emailer .image img {
  width: 100%;
  vertical-align: top;
  border: var(--lblue-color) solid 1px;
  border-radius: var(--my-radius);
}
.grid .emailer .content {
flex: 1;
}
.grid .emailer .content h3,
.grid .banners h3 {
  color: var(--lblue-color);
  font-size: 1.5rem;
}
.grid .emailer .content,
.grid .banners {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
}
.grid .emailer .content .tech {
  display: flex;
  gap: 1rem;
}
.emailer .content .tech img {
  width: 45px;
  height: 45px;
  vertical-align: top;
}

.banners img {
  width: 100%;
  border-radius: var(--my-radius);
  border: 1px solid var(--lblue-color);
}

p {
  color: var(--white-color);
  line-height: 1.5;
}
.banners .tech img {
  width: 150px;
  vertical-align: top;
}
.grid a {
  margin-left: auto;
}
@media (max-width:992px){
.otherWork {
  padding-top: 5rem;
}
}
@media (max-width:768px){
  .otherWork {
  padding-top: 4rem;
}
.otherWork .grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}
.otherWork .emailer {
  flex-direction: column;
}
.grid .emailer .content,
.grid .banners {
  align-items: center;
  text-align: center;
}
.grid a {
  margin-left: initial;
}
.grid .emailer .image {
  max-width: 400px;
  margin: 0 auto ;
}
.grid .emailer .content h3,
.grid .banners h3 {
  font-size: 1.2rem;
}
}