.projects {
  /* background-color: var(--dBlue-color); */
  padding: var(--section-padding);
  padding-bottom: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  align-items: stretch;
}
.webProjects > h2 {
  color: var(--light-color);
  font-size: var(--subTitle-size);
  margin-bottom: 2rem;
}
.webProjects > a{
  margin: 2rem 0 0 auto;
  display: block;

}
@media (max-width: 768px) {
  .tabNav {
    gap: initial;
    justify-content: space-between;
  }
  .tabNav .tabButton {
    font-size: 0.9rem;
    width: 100px;
  }
}
