.projects{
  padding: var(--section-padding);
}
.tabNav {
  display: flex;
  justify-content: center;
  padding: 10px 0px 60px;
  gap: 3rem;
}
.tabNav .tabButton {
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  padding: 12px 8px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--white-color);
  font-weight: 600;
  width: 140px;
  border: 2px solid var(--light-color);
}
.tabNav .activeButton {
  transition: all 0.3s;
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
}
.webProjects {
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  align-items: stretch;
}
.webProjects > h2 {
  color: var(--light-color);
  font-size: var(--subTitle-size);
  margin-bottom: 2rem;
}
