.head {
  position: relative;
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 150px 0 0;
}
.head .content {
  flex: 1;
}
.head .content h1 {
  color: var(--light-color);
  margin-bottom: 2.5rem;
  text-transform: capitalize;
  font-size: var(--title-size);
  font-weight: 500;
}
.head .content .desc {
  font-size: 1.2rem;
}
.head .content span {
  font-size: 0.875rem;
  color: var(--light-color);
}
.head .content span svg {
  vertical-align: middle;
  font-size: 1rem;
}
.head .image {
  flex: 1;
  text-align: right;
}
.head .image img {
  width: 80%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  align-items: stretch;
  padding: var(--section-padding);
}
@media (max-width: 992px) {
.head {
  position: relative;
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 150px 0 0;
}
}
@media (max-width: 768px) {
  .head {
    flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  margin: 100px 0 0;
}
  .head .content h1 {
    margin-bottom: 2rem;
  }
  .head .image img {
  width: 50%;
}
}
