.cover {
  position: relative;
  min-height: calc(100vh - 90px);
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  overflow: hidden;
  margin-top: 90px;
}
.cover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(34, 34, 34, 0.5);
}
.cover ul {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 1;
  top: 0;
  left: 0;
}
.cover ul li {
  position: absolute;
  font-weight: bold;
  color: var(--light-color);
  opacity: 0.5;
}
.cover > div {
  position: relative;
  z-index: 3;
}
.cover .image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: var(--my-radius);
  width: 400px;
  overflow: hidden;
  box-shadow: rgba(154, 194, 193, 0.75) 0px 2px 8px 0px;
}

.cover .image::before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  background: linear-gradient(
    45deg,
    var(--light-color) 0%,
    var(--lblue-color) 50%,
    var(--dark-color) 100%
  );
  border-radius: var(--my-radius);
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: rotate 10s ease infinite;
}
.cover .image img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.cover .content {
  color: var(--white-color);
  max-width: 400px;
}
.cover .content h1 {
  font-family: var(--title-font);
  margin-bottom: 1rem;
  font-size: var(--title-size);
}
.cover .content .typed {
  font-size: 1.4rem;
  color: var(--lblue-color);
  font-weight: 500;
}
.cover .content p {
  margin-bottom: 40px;
  font-size: 18px;
}
.cover .content a {
  margin-left: auto;
}
.cover .toRight {
  animation: toRight infinite ease-in-out;
}
.cover .toLeft {
  animation: toLeft infinite ease-in-out;
}
@keyframes rotate {
  0% {
    transform:scale(1) rotate(0deg);
  }
  50% {
    transform:scale(1.2) rotate(180deg);
  }
  100% {
    transform:scale(1) rotate(360deg);
  }
}
@keyframes toRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}
@keyframes toLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .cover {
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    padding: 1rem var(--side-padding) 50px;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .cover .image {
    width: 300px;
  }
  .cover .content {
    color: var(--white-color);
    min-height: initial;
    padding: 10px;
    max-width: 500px;
    text-align: center;
  }
  .cover > div {
    width: initial;
  }
  .cover .content p {
    margin-bottom: 30px;
  }
  .cover .content a {
    margin: auto;
  }
}
@media (max-width: 576px) {
  .cover .image {
    max-width: 260px;
  }
  .cover .content {
    color: var(--white-color);
    max-width: initial;
    width: 100%;
    padding: 0px;
  }
  .cover .content .typed {
    font-size: 1.25rem;
  }
  .cover .content p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}
