.cover {
  position: relative;
  height: calc(100vh - 90px);
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  overflow: hidden;
  margin-top: 90px;
}
.cover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(34, 34, 34, 0.5);
}
.cover ul {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 1;
  top: 0;
  left: 0;
}
.cover ul li {
  position: absolute;
  font-weight: bold;
  color: var(--light-color);
  opacity: 0.5;
}
.cover > div {
  width: 50%;
  position: relative;
  z-index: 3;
}
.cover .profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 2;
}

.cover .image {
  position: relative;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.cover .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../assets/wave.png");
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
  animation: rotate 10s ease infinite;
}
.cover .profile img {
  width: 300px;
  position: relative;
  z-index: 2;
}
.cover .content {
  color: var(--white-color);
  max-width: 400px;
  min-height: 400px;
  padding: 10px;
}
.cover .content h1 {
  font-family: var(--title-font);
  margin-bottom: 20px;
  font-size: var(--title-size);
}
.cover .content p {
  margin-bottom: 40px;
  font-size: 18px;
}
.cover .content a {
  margin-left: auto;
}
.cover .toRight {
  animation: toRight infinite ease-in-out;
}
.cover .toLeft {
  animation: toLeft infinite ease-in-out;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes toRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}
@keyframes toLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .cover {
    height: calc(100vh - 80px);
    margin-top: 80px;
    padding: 50px var(--side-padding);
    flex-direction: column;
    gap: 4rem;
  }
  .cover .content {
    color: var(--white-color);
    min-height: initial;
    padding: 10px;
    width: 500px;
    text-align: center;
  }
  .cover > div {
    width: initial;
  }
  .cover .content p {
    margin-bottom: 30px;
  }
  .cover .profile .image,
  .cover .content a {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .cover {
    padding: 50px var(--side-padding);
    gap: 0rem;
  }
  .cover .content {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .cover .profile .image img{
    max-width: 250px;
  }
  .cover .profile .image::before {
  width: 350px;
  height: 350px;
  }

  .cover .content {
    color: var(--white-color);
    max-width: initial;
    width: 100%;
    padding: 0px;
  }
  .cover .content p {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
