.cover {
  position: relative;
  height: calc(100vh - 90px);
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 90px;
}
.cover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(34, 34, 34, 0.5);
}
.cover ul {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 1;
  top: 0;
  left: 0;
}
.cover ul li {
  position: absolute;
  font-weight: bold;
  color: var(--light-color);
  opacity: 0.5;
}
.cover > div {
  width: 50%;
  position: relative;
  z-index: 3;
}
.cover .profile .image {
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: 30px;
  z-index: 3;
}
.cover .profile img {
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 3;
  transition: 0.5s;
  border: 5px solid var(--dark-color);
}
.cover .profile .image img:hover {
  transform: scale(1.05);
}
.cover .profile .image::before {
  content: "";
  position: absolute;
  z-index: 2;
  background: linear-gradient(90deg, var(--gray-color), var(--light-color));
  width: 200px;
  height: 200px;
  top: -30px;
  left: -30px;
}
.cover .profile .image::after {
  content: "";
  position: absolute;
  z-index: 2;
  background: linear-gradient(90deg, var(--gray-color), var(--light-color));
  width: 200px;
  height: 200px;
  bottom: -30px;
  right: -30px;
}
.cover .content {
  color: var(--white-color);
  max-width: 400px;
  min-height: 400px;
  padding: 10px;
}
.cover .content h1 {
  font-family: var(--title-font);
  margin-bottom: 20px;
  font-size: var(--title-size);
}
.cover .content p {
  margin-bottom: 40px;
  font-size: 18px;
}
.cover .content a {
  background-color: var(--light-color);
  padding: 10px 20px;
  color: var(--dark-color);
  margin-left: auto;
  display: block;
  width: max-content;
  border: 1px solid var(--light-color);
  transition: all 0.3s;
}
.cover .content a:hover {
  border: 1px solid var(--white-color);
  background-color: var(--gray-color);
  color: white;
  transform: scale(1.05);
}
.cover .toRight {
  animation: toRight infinite ease-in-out;
}
.cover .toLeft {
  animation: toLeft infinite ease-in-out;
}
@keyframes toRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}
@keyframes toLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .cover {
    height: calc(100vh - 80px);
    margin-top: 80px;
    padding: 50px var(--side-padding);
    flex-direction: column;
    gap: 50px;
  }
  .cover .profile .image {
    width: 85%;
    max-width: 300px;
  }
  .cover .profile .image::before {
    width: 50%;
    height: 50%;
    top: -15px;
    left: -15px;
  }
  .cover .profile .image::after {
    width: 50%;
    height: 50%;
    bottom: -15px;
    right: -15px;
  }

  .cover .content {
    color: var(--white-color);
    min-height: initial;
    padding: 10px;
    width: 500px;
    text-align: center;
  }
  .cover > div {
    width: initial;
  }
  .cover .content p {
    margin-bottom: 30px;
  }
  .cover .profile .image,
  .cover .content a {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .cover {
    padding: 50px var(--side-padding);
  }

  .cover .content {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .cover .profile .image {
    width: 85%;
    max-width: 300px;
  }
  .cover .profile .image::before {
    width: 50%;
    height: 50%;
    top: -15px;
    left: -15px;
  }
  .cover .profile .image::after {
    width: 50%;
    height: 50%;
    bottom: -15px;
    right: -15px;
  }
  .cover .content {
    color: var(--white-color);
    max-width: initial;
    width: 100%;
    padding: 0px;
  }
  .cover .content p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .cover .content a {
    padding: 15px 10px;
  }
}
