.demo {
  background: var(--dark-color);
  color: var(--dark-color);
  padding: var(--section-padding);
}
.category {
  margin-bottom: 3rem;
  border-left: 4px solid var(--lblue-color);
  padding-left: 1.5rem;
}
.category:nth-last-of-type(1) {
  margin-bottom: 0rem;
}
.catTitle {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  color: var(--lblue-color);
  line-height: 20px;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.2rem;
}

.skillCard {
  background: var(--light-color);
  padding: 1.2rem 0.8rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 0.9rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(20px);
  color: var(--dark-color);
  border-radius: var(--my-radius);
}

.skillCard:hover {
  transform: translateY(-6px) scale(1.02);
  background: var(--lblue-color);
  color: var(--white-color);
  box-shadow: 0 0px 4px rgba(255, 255, 255, 0.15);
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.icon {
  font-size: 1.6rem;
}

.level {
  margin-top: 0.6rem;
  font-weight: 700;
  color: var(--dBlue-color);
}

/* Responsive */
@media (max-width: 768px) {
  .catTitle {
    font-size: 1.2rem;
    border-bottom: 3px solid var(--lblue-color);
    line-height: initial;
  }
  .category {
    border-left: initial;
    padding-top: 1.5rem;
    padding-left: 0;
  }
  .skillGrid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
