.about {
  position: relative;
  background-image: url("../../assets/layer1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
/* About me section start*/
.aboutMe {
  padding: var(--section-padding);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  z-index: 2;
}
.aboutMe .text {
  max-width: 500px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.aboutMe .text h1 {
  color: var(--light-color);
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: var(--title-font);
  font-size: var(--title-size);
}
.aboutMe .text .skills {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1200px) {
  .aboutMe .text {
    max-width: 400px;
  }
}
@media (max-width: 992px) {
  .aboutMe {
    flex-direction: column;
    gap: 5rem;
  }
  .about {
    text-align: center;
  }
  .aboutMe .text .skills {
    justify-content: center;
  }
  .aboutMe .text a{
    margin: auto;
  }
}
@media (max-width: 768px) {
  .aboutMe .text {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
}
