.about {
  position: relative;
  background-image: url("../../assets/layer1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
/* About me section start*/
.aboutMe {
  padding: var(--section-padding);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
/* 
.aboutMe .profile {
  position: relative;
  max-width: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.aboutMe .profile::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../assets/wave.png");
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
  animation: rotate 10s ease infinite;
}
.aboutMe .profile img {
  width: 300px;
  position: relative;
  z-index: 2;
} */
.aboutMe .text {
  max-width: 400px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.aboutMe .text h1 {
  color: var(--light-color);
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: var(--title-font);
  font-size: var(--title-size);
}
.aboutMe .text .skills {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 992px) {
  .aboutMe {
    flex-direction: column;
    gap: 5rem;
  }
  .about {
    text-align: center;
  }
  .aboutMe .profile {
    max-width: 275px;
  }
  .aboutMe .profile::before {
    width: 275px;
    height: 275px;
  }
  .aboutMe .profile img {
    width: 190px;
  }
  .aboutMe .text .skills {
    justify-content: center;
  }
  .aboutMe .text a{
    margin: auto;
  }
}
@media (max-width: 768px) {
  .aboutMe .text {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
}
