.roadmap {
  position: relative;
  flex-grow: 1;
  text-align: start;
}

.title {
/* font-size: var(--title-size); */
  margin-bottom: 3rem;
  color: var(--light-color);
  padding-left: 2rem;
  line-height: 26px;
}

.timeline {
  position: relative;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.line {
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: linear-gradient(
    to bottom,
    var(--light-color),
    var(--lblue-color),
    var(--dBlue-color)
  );
  z-index: 0;
}

.card {
  position: relative;
  background: var(--dark-color);
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  padding: 1.5rem 2rem;
  color: var(--white-color);
  z-index: 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.25);
}

.icon {
  position: absolute;
  left: -50px;
  top: 20px;
  width: 36px;
  height: 36px;
  background-color: var(--lblue-color);
  color: var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0 0 0 5px var(--dark-color);
}

.content h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.2rem 0;
  color: var(--light-color);
}

.content h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #aaa;
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 0.95rem;
  color: var(--white-color);
  line-height: 1.5;
}

.year {
  font-size: 0.85rem;
  color: var(--lblue-color);
  font-weight: 600;
  letter-spacing: 0.5px;
}
@media (max-width: 992px) {
  .roadmap {
    width: 100%;
    flex-grow: initial;
    margin-left: 18px;
  }
}
/* Responsive */
@media (max-width: 768px) {
  .roadmap {
    margin-left: 14px;
  }
  .title {
  padding-left: 26px;
  line-height: initial;
  margin-bottom: 2rem;
}
  .timeline {
    gap: 2rem;
    margin-left: 26px;
  }

  .card {
    padding: 1.25rem 1.25rem;
  }
  .icon {
    left: -40px;
    top: 20px;
    width: 28px;
    height: 28px;
    box-shadow: 0 0 0 4px var(--dark-color);
  }
}
