.contactSection {
  padding: var(--section-padding);
  background-color: var(--dark-color);
  color: var(--white-color);
}
.container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  background: var(--dark-color);
  border: 1px solid #444;
  color: var(--light-color);
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
  border-radius: var(--my-radius);
}

.form input::placeholder,
.form textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--title-font);
  font-size: 0.8rem;
}

.form input:focus,
.form textarea:focus {
  border-color: var(--light-color);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0px 3px var(--light-color);
}

.form textarea {
  resize: none;
}

.form button {
  padding: 0.9rem;
  background: var(--light-color);
  color: var(--dark-color);
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: var(--my-radius);
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background: var(--lblue-color);
  color: var(--white-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1rem;
  background-image: url("../../assets/undraw_letter_ombg.svg");
  background-position: right bottom;
  background-size: contain;
  background-size: 220px;
  background-repeat: no-repeat;
}

.subtitle {
  color: var(--white-color);
  margin-bottom: 1.5rem;
}
.info a {
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.4s;
  position: relative;
  width: fit-content;
}
.info a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--light-color);
  transition: all 0.4s;
}
.info a:hover::after {
  width: 100%;
}
.info a:hover {
  color: var(--light-color);
}

/* Responsive */
@media (max-width: 992px) {
  .container {
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .form {
    width: 100%;
  }
  .subtitle {
    font-size: 14px;
  }
  .info {
    width: 100%;
    font-size: 14px;
    background-size: 100px;
  }
}
