.navbar {
  height: 90px;
  background-color: var(--dark-color);
  position: relative;
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--side-padding);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.4s ease;
}
.navbar .logo img {
  width: 200px;
  display: block;
  margin: auto;
}
.navbar .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}
.navbar .links a {
  position: relative;
  font-size: 1.2rem;
  color: var(--light-color);
  text-transform: capitalize;
  font-weight: 500;
}
.navbar .links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--light-color);
  transition: all 0.3s;
}
.navbar .links a:hover::after {
  width: 100%;
}
.sticky {
  box-shadow: 0 2px 4px rgba(153, 152, 152, 0.2);
  backdrop-filter: blur(8px);
  animation: fadeDown 0.8s ease-out;
}
@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}
@keyframes fadeDown{
    0%{
        opacity: 0.5;
        transform: translateY(-90px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}