.navbar {
  display: none;
}
.navbar .logo img {
  width: 150px;
  display: block;
  margin: auto;
}
.navbar .icon {
  color: var(--light-color);
  cursor: pointer;
}
.links {
  position: fixed;
  z-index: 9;
  height: 100vh;
  width: 75%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--dark-color);
  padding: 120px var(--side-padding);
  transition: 0.7s;
}
.links a {
  font-size: 1rem;
  color: var(--light-color);
  text-transform: capitalize;
  font-weight: 500;
  border-bottom: 1px solid var(--gray-color);
  width: 100%;
  padding: 1rem 0px;
}
.close {
  opacity: 0;
  transform: translateX(-100%);
}
.open {
  opacity: 1;
  transform: translateX(0%);
}

@media (max-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    display: flex;
    height: 70px;
    background-color: var(--dark-color);
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px var(--side-padding);
    z-index: 100;
  }
  .sticky {
    box-shadow: 0 1px 4px rgba(153, 152, 152, 0.2);
    backdrop-filter: blur(8px);
    animation: fadeDown 0.8s ease-out;
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0.5;
    transform: translateY(-90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
