.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
  text-align: center;
  padding: 2rem 0rem;
  border-top: 1px solid var(--light-color);
}

.social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.social a {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: transform 0.3s, color 0.3s;
}

.social a:hover {
  color: var(--light-color);
  transform: scale(1.1);
}

.copy {
  font-size: 0.8rem;
  color: var(--white-color);
  font-weight: 300;
}
