@font-face {
  font-family: "MyFont";
  src: url("../src/fonts/Fashion\ Fetish\ Bold.ttf") format("woff2");
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --dark-color: #222222;
  --dBlue-color: #0c2544;
  --white-color: #fff;
  --gray-color: #636565;
  --lblue-color: #5884a7;
  --light-color: #9ac2c1;
  --side-padding: 70px;
  --title-font: "MyFont", sans-serif;
  --title-size: 2.5rem;
  --subTitle-size:1.5rem;
  --section-padding: 100px 0px;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  max-width: 2000px;
  overflow-x: hidden;
  background-color: var(--dark-color);
  color: var(--white-color);
}
a {
  text-decoration: none;
  font-family: var(--title-font);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1{
  font-family: var(--title-font);
  margin: 0;
}
p {
  margin: 0;
}

@media (max-width:992px){
  :root {
    --side-padding: 50px;
  }
}
@media (max-width:768px){
  :root {
    --side-padding: 30px;
    --title-size: 30px;
  }
}
@media (max-width:576px){
  :root {
    --side-padding: 15px;
    --title-size: 22px;
  }
}