.button {
    display: block;
  position: relative;
  padding: 16px 24px;
  font-weight: 500;
  border: 1px solid var(--light-color);
  transition: all 0.3s;
  background-color: var(--dark-color);
  width: fit-content;
  border-radius: var(--my-radius);
  overflow: hidden;
}
.button span {
  position: relative;
  z-index: 2;
  transition: all 0.3s;
  color: var(--light-color);
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--light-color);
  z-index: 1;
  transition: all 0.4s;
}
.button:hover span {
  color: var(--dark-color);
  transition: all 0.3s;
}
.button:hover::before {
  width: 100%;
  transition: all 0.4s;
}
@media (max-width: 576px) {
.button {
  padding: 14px 20px;
font-size: 14px;
}
}