.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px;
  }
  
  @media (max-width: 1024px) {
    .container {
      max-width: 900px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 600px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 90%;
    }
  }
  