.title{
    color: var(--light-color);
    margin-bottom: 2.5rem;
    text-transform:capitalize ;
    font-size: var(--title-size);
    font-weight: 500;
}
@media (max-width:768px){
.title{
    margin-bottom: 2rem;
  }
}